extends ./layout

block body
  .homepage
    .header
      .logo
        div
          | Logo
      .primary-menu
        ul
          - list = ["Consulting", "Technology & Scaling", "Creative", "Advertising", "Data Insights"]
            each item in list
              li.primary-link= item
