extends ./layout

block body
  .homepage
    .header
      .logo
        div
          | Logo
      .primary-menu
        ul
          - list = ["Reach", "Insights", "Creative", "Advertising"]
            each item in list
              li.primary-link= item