doctype html
html
  head
    if locals.title
      title= title
    else
      title UI to UX Inc. :: Data Driven Media Agency :: Houston, TX

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    //-
      Stylesheets and Preprocessors
      ==============================

      You can always bring in CSS files manually with `<link>` tags, or asynchronously
      using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
      of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, stylesheets from your `assets/styles` folder are included
      here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
      are supported. In production, your styles will be minified and concatenated into
      a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your CSS files
          + Import stylesheets from other directories
          + Use a different or additional preprocessor, like SASS, SCSS or Stylus

    // STYLES
    link(rel="stylesheet", href="/styles/foundation/foundation.css")
    link(rel="stylesheet", href="/styles/foundation/normalize.css")
    link(rel="stylesheet", href="/styles/common-styles.css")
    link(rel="stylesheet", href="/styles/fonts.css")
    link(rel="stylesheet", href="/styles/media-queries.css")
    link(rel="stylesheet", href="/styles/pages/advertising.css")
    link(rel="stylesheet", href="/styles/pages/consulting.css")
    link(rel="stylesheet", href="/styles/pages/contact.css")
    link(rel="stylesheet", href="/styles/pages/creative.css")
    link(rel="stylesheet", href="/styles/pages/home.css")
    link(rel="stylesheet", href="/styles/pages/insights.css")
    link(rel="stylesheet", href="/styles/pages/technology.css")
    link(rel="stylesheet", href="/styles/mapbox.css")
    // STYLES END

    block styles
   
    style(type='text/css').
      @media only screen and (-webkit-max-device-pixel-ratio : 1.9),
        only screen and (max--moz-device-pixel-ratio: 1.9),
        only screen and (max-device-pixel-ratio: 1.9)
      {
          head {
           /*
             Set device-pixel-ratio cookie
             head tag is invisible but request is still sent
           */
            background-image: url(/set-device-pixel-ratio/1);
          }
      }
      @media only screen and (-webkit-min-device-pixel-ratio : 2),
        only screen and (min--moz-device-pixel-ratio: 2),
        only screen and (-o-min-device-pixel-ratio: 2/1),
        only screen and (min-device-pixel-ratio: 2),
        only screen and (min-resolution: 192dpi),
        only screen and (min-resolution: 2dppx)
      { 
          head {
           /*
             Set device-pixel-ratio cookie
             head tag is invisible but request is still sent
           */
            background-image: url(/set-device-pixel-ratio/2);
          }
      }

      @media only screen and (-webkit-min-device-pixel-ratio : 3),
        only screen and (min--moz-device-pixel-ratio: 3),
        only screen and (-o-min-device-pixel-ratio: 3/1),
        only screen and (min-device-pixel-ratio: 3)
      {
          head {
           /*
             Set device-pixel-ratio cookie
             head tag is invisible but request is still sent
           */
            background-image: url(/set-device-pixel-ratio/4);
          }
      }

  body(class=bodyClass ? bodyClass : '')
    block body

    div(class='footer row')
      div(class='small-7 medium-7 large-7 columns')
        .copyright-info
          | UI to UX Inc. All rights reserved

      div(class='small-5 medium-5 large-5 columns')
        .secondary-menu
          ul
            - list = ["<a href='/contact'>Contact</a>"]
              each item in list
                li.primary-link!= item

    //-
      Client-side Templates
      ========================

      HTML templates are important prerequisites of modern, rich client applications.
      To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
      that you load these templates client-side.

      By default, your Gruntfile is configured to automatically load and precompile
      client-side JST templates in your `assets/templates` folder, then
      include them here automatically (between TEMPLATES and TEMPLATES END).

      To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Import templates from other directories
          + Use a different template engine (handlebars, jade, dust, etc.)
          + Internationalize your client-side templates using a server-side
            stringfile before they're served.

    // TEMPLATES
    
    // TEMPLATES END

    //-
      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/jquery.min.js")
    script(src="/js/dependencies/underscore-min.js")
    script(src="/js/dependencies/backbone-min.js")
    script(src="/js/dependencies/jquery.cookie.js")
    script(src="/js/dependencies/fastclick.js")
    script(src="/js/dependencies/placeholder.js")
    script(src="/js/dependencies/modernizr.js")
    script(src="/js/dependencies/foundation.min.js")
    script(src="/js/dependencies/foundation/foundation.abide.js")
    script(src="/js/dependencies/foundation/foundation.accordion.js")
    script(src="/js/dependencies/foundation/foundation.alert.js")
    script(src="/js/dependencies/foundation/foundation.clearing.js")
    script(src="/js/dependencies/foundation/foundation.dropdown.js")
    script(src="/js/dependencies/foundation/foundation.equalizer.js")
    script(src="/js/dependencies/foundation/foundation.interchange.js")
    script(src="/js/dependencies/foundation/foundation.joyride.js")
    script(src="/js/dependencies/foundation/foundation.magellan.js")
    script(src="/js/dependencies/foundation/foundation.offcanvas.js")
    script(src="/js/dependencies/foundation/foundation.orbit.js")
    script(src="/js/dependencies/foundation/foundation.reveal.js")
    script(src="/js/dependencies/foundation/foundation.slider.js")
    script(src="/js/dependencies/foundation/foundation.tab.js")
    script(src="/js/dependencies/foundation/foundation.tooltip.js")
    script(src="/js/dependencies/foundation/foundation.topbar.js")
    script(src="/js/dependencies/mapbox.js")
    script(src="/js/dependencies/particles.min.js")
    script(src="/js/background.js")
    script(src="/js/contact.js")
    script(src="/js/map.js")
    // SCRIPTS END
    script.
      $(document).foundation();
