.header {
  background: #EAEAEA;

  .logo {
    .red-font {
      color: #D20000;
    }
  }

  .primary-menu {
    ul {
      li {
        text-transform: uppercase;
      }
    }
  }
}

.contact-us {
  margin: 0;
}

.content {
  position: initial !important;

  text-align: center;
  text-transform: uppercase;

  h1.page-title {
    color: #ADACAC;
    letter-spacing: 5px;
    font-size: 125px;
    margin-bottom: 10px;
  }

  .page-subtitle {
    font-size: 35px;
    margin-bottom: 50px;
  }

  .contact-information{
    width: 100%;

    .left-sidebar {
      float: left;
      width: 50%;
      text-align: left;

      ul {
        font-size: 35px;
        letter-spacing: 10px;
      }
    }

    .right-sidebar {
      float: right;
      width: 50%;
      text-align: left;
    }
  }

  .map {
    width: 100%;
    margin-top: 100px;
  }
}