.logo {
  float: left;
}

.primary-menu {
  float: right;

  ul {
    list-style-type: none;
    margin: 0;

    .primary-link {
        float: left;
        display: block;
        margin: 0 10px;
    }
  }
}

.homepage {
  background: #3a3a3a;
  color: #fff;
  text-transform: uppercase;
}