@import "foundation/_settings.scss";
@import "foundation/foundation.scss";

.creative {
  .content {
    .column {
      img.baloon-elephant {
        display: none;
      }
    }
  }
}

@media #{$large-only} {
  .creative {
    .content {
      .column {
        img.baloon-elephant {
          display: block;
          top: 130px;
          right: 0px;
        }
      }
    }
  }
}

@media #{$xlarge-only} {
  .creative {
    .content {
      .column {
        img.baloon-elephant {
          display: block;
          top: 30px;
          right: 30px;
        }
      }
    }
  }
}