@import "foundation/_settings.scss";
@import "foundation/foundation.scss";

$header-height: 130px;
$menu-padding-top: 30px;

.homepage {
  .navigation {
    display: none;
  }

  .footer {
    display: none;
  }
  
  background: #3a3a3a;
  color: #fff;
  text-transform: uppercase;
  height: 100vh;
  margin: 0;

  .header, .content, .footer {
    padding: 20px;
    background: inherit;
  }

  html {
    height: 100vh;
  }

  .content_inside-pages {
    display: none;
  }

  .content {
    display: block;
    margin-top: 90px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .column {
      height: 100%;
    }

    .inner-content {
      height: 100%;
      display: table;
      width: 100%;

      .content-information {
        vertical-align: middle;
        display: table-cell;

        img {
          width: 150px;
          display: block;
          margin: 0 auto;
        }
        
        .slogan {
          margin: 0 auto;
          text-align: center;

          .gray-font, .red-font {
            letter-spacing: 0px;
            font-size: 30px;
          }
        }
      }
    }

    .what-we-do-title, .what-we-do-block {
      display: none;
    }
  }

  .header {
    height: $header-height;

    .logo {
      text-decoration: none;
      
      p {
        text-align: center;
      }
    }

    .primary-menu {
      padding-top: $menu-padding-top;

      ul {
        .primary-link {
          color: #c1c1c1;

          a {
            color: #c1c1c1;
          }
        }
      }
    }
  }

  .footer-outer {
    position: absolute;
    bottom: 0;
    width: 100%;

    .footer {
      display: block;
      border-top: none;
      
      .secondary-menu {
        line-height: 70px;

        ul {
          list-style-type: none;

          .primary-link {
              display: block;
              margin: 0 10px;
              color: #c1c1c1;
              padding: 0;

              a {
                color: #c1c1c1;
                font-size: 16px;
              }
          }
        }
      }
    }
  }
}

@media #{$medium-only} {
  .homepage {
    .header {
      .columns {
        width: 100%;

        .logo {
          width: 100%;

          p {
            display: table;
            margin: 0 auto;

            .red-font, .gray-font {
              letter-spacing: 5px;
              font-size: 60px;
            }
          }
        }

        .primary-menu {
          width: 100%;
          padding-top: 0;

          ul {
            margin: 0 auto;
            display: table;

            li.primary-link {
              font-size: 14px;
            }
          }
        }
      }
    }

    .content {
      margin-top: 140px;
    }
  }
}

@media #{$small-only} {
  .homepage {
    .navigation {
      display: block;
    }

    .header {
      .small-8 {
        display: none;
      }

      .columns {
        width: 100%;

        .logo {
          width: 100%;

          p {
            display: table;
            margin: 0 auto;

            .red-font, .gray-font {
              letter-spacing: 5px;
              font-size: 60px;
            }
          }
        }

        .primary-menu {
          width: 100%;
          padding-top: 0;

          ul {
            margin: 0 auto;
            display: table;

            li.primary-link {
              font-size: 14px;
            }
          }
        }
      }
    }

    .content {
      margin-top: 170px;
    }
  }
}
