@import "foundation/_settings.scss";
@import "foundation/foundation.scss";

.insights {
  .content {
    .column {
      img.fire-fox {
        display: none;
      }
    }
  }
}

@media #{$large-only} {
  .insights {
    .content {
      .column {
        img.fire-fox {
          display: block;
          width: 200px;
          top: 15px;
          right: 0px;
        }
      }
    }
  }
}

@media #{$xlarge-only} {
  .insights {
    .content {
      .column {
        img.fire-fox {
          display: block;
          width: 200px;
          top: 15px;
          right: 100px;
        }
      }
    }
  }
}