extends ../layout

block body
  div(class='header row')
    div(class='small-4 medium-4 large-4 columns')
      a(href="/").logo
        p!= '<span class="red-font">UI</span> <span class="gray-font">To</span> <span class="red-font">UX</span>'

    div(class='small-8 medium-8 large-8 columns')
      .primary-menu
        ul
          - list = ["<a href='/consulting'>Consulting</a>", "<a href='/creative'>Creative</a>", "<a href='/advertising' class='active'>Advertising</a>"]
            each item in list
              li.primary-link!= item

    div(class='navigation row')
        div(class='small-12 medium-12 large-12 columns')
          nav(class='top-bar' data-topbar role='navigation' data-options='is_hover: true')
            section(class='top-bar-section')
              ul(class='right')
                li(class='divider hide-for-small')
                li(class='has-dropdown')
                  a Main Menu
                  ul(class='dropdown')
                    li
                      a(href='consulting') Consulting
                    li
                      a(href='creative') Creative
                    li
                      a(href='advertising') Advertising

  div(class='content row')
    div(class='small-12 medium-12 large-12 column')
      h1.page-title
        | Advertising
      .page-subtitle
        | It's important to put your ideas out, but it's even more important to collect crucial feedback. We help our clients design sophisticated campaigns to engage new and repeat customers, while learning from important metrics to constantly improve your business’s experience. 
      ul.services-offered
        li.experience-strategy
          .picture
            img(src='images/creative_experience-strategy.png').experience-strategy-picture
          .row-inner
            h3.menu-title
              | Strategy.
            .menu-content
              | The most important piece in your campaign will be concocting a dynamic strategy. UI to UX uses a multitude of research tools, historical and real-time data to create the perfect plan.
        li.growth-opportunities
          .picture
            img(src='images/creative_growth-opportunities.png').growth-opportunities-picture
          .row-inner
            h3.menu-title
              | Campaigns.
            .menu-content
              | Building a campaign involves a large amount of moving pieces.  UI to Ux Inc specializes in fitting all those pieces together and utilizing reactionary planning to truly create an effective campaign.
        li.asset-monetization
          .picture
            img(src='images/creative_asset-monitization.png').asset-monitization-picture
          .row-inner
            h3.menu-title
              | Community Management.
            .menu-content
              | Your campaign will undoubtedly generate a large amount of followers which will build into a community.  UI to UX Inc will manage and keep your community active.  Consistent and constant activity helps build an even larger community and increases follower loyalty.
        li.crisis-response
          .picture
            img(src='images/creative_experience-strategy.png').experience-strategy-picture
          .row-inner
            h3.menu-title
              | Crisis Response.
            .menu-content
              | Understanding what problems may occur and planning in advance for them is crucial in your campaign.  UI to Ux Inc prepares and places contingency plans in place to remedy any issues as they arise.
      h2.what-we-do-title
        | What else we do
      .what-we-do-block
        ul
          - list = ["Business strategy", "User experience design", "Social media", "Brands & Communication", "Creative", "Search Technology", "Data science", "Technology", "Media", "Research", "Content"]
            each item in list
              li.what-we-do-item= item
