extends ../layout

block body
  div(class='header row')
    div(class='small-4 medium-4 large-4 columns')
      a(href="/").logo
        p!= '<span class="red-font">UI</span> <span class="gray-font">To</span> <span class="red-font">UX</span>'
      
    div(class='small-8 medium-8 large-8 columns')
      .primary-menu
        ul
          - list = ["<a href='/consulting' class='active'>Consulting</a>", "<a href='/creative'>Creative</a>", "<a href='/advertising'>Advertising</a>"]
            each item in list
              li.primary-link!= item

    div(class='navigation row')
        div(class='small-12 medium-12 large-12 columns')
          nav(class='top-bar' data-topbar role='navigation' data-options='is_hover: true')
            section(class='top-bar-section')
              ul(class='right')
                li(class='divider hide-for-small')
                li(class='has-dropdown')
                  a Main Menu
                  ul(class='dropdown')
                    li
                      a(href='consulting') Consulting
                    li
                      a(href='creative') Creative
                    li
                      a(href='advertising') Advertising

  div(class='content row')
    div(class='small-12 medium-12 large-12 column')
      h1.page-title
        | Consulting
      .page-subtitle
        | At UI to UX we don't believe in selling out of the box solutions to businesses like others. Every business's process is unique and ever evolving, thus the tools that help enforce, curate, and optimize the interactions within must evolve in accordance.
      ul.services-offered
        li.experience-strategy
          .picture
            img(src='images/creative_experience-strategy.png').experience-strategy-picture
          .row-inner
            h3.menu-title
              | Experience Creation.
            .menu-content
              | Ui To Ux INC always keeps the end user in mind.  We dont just create an product but also an experience for your clients.  How things move when touched, felt and observed are all part of creating an immersible experience.
        li.growth-opportunities
          .picture
            img(src='images/creative_growth-opportunities.png').growth-opportunities-picture
          .row-inner
            h3.menu-title
              | Growth.
            .menu-content
              | You never stop growing and neither should your business.  We observe trends, competition and new methodologies to help you grow your business in all sectors.
        li.asset-monetization
          .picture
            img(src='images/creative_asset-monitization.png').asset-monitization-picture
          .row-inner
            h3.menu-title
              | Business and Product Innovation.
            .menu-content
              | Change is constant and the world changes fast.   UI To UX Inc can help your product and business keep pace.  Innovation is key in making sure you are always meeting client expectations.  We use trends, testing, in-depth historical data to not only improve current products and business but also bring your ideas to life.

      h2.what-we-do-title
        | What else we do
      .what-we-do-block
        ul
          - list = ["Business strategy", "User experience design", "Social media", "Brands & Communication", "Creative", "Search Index", "Data science", "Technology", "Media", "Research", "Content"]
            each item in list
              li.what-we-do-item= item
