extends ../layout

block body
  div(class='header row')
    div(class='small-4 medium-4 large-4 columns')
      a(href="/").logo
        p!= '<span class="red-font">UI</span> <span class="gray-font">To</span> <span class="red-font">UX</span>'

    div(class='small-8 medium-8 large-8 columns')
      .primary-menu
        ul
          - list = ["<a href='/consulting'>Consulting</a>", "<a href='/creative' class='active'>Creative</a>", "<a href='/advertising'>Advertising</a>"]
            each item in list
              li.primary-link!= item

    div(class='navigation row')
        div(class='small-12 medium-12 large-12 columns')
          nav(class='top-bar' data-topbar role='navigation' data-options='is_hover: true')
            section(class='top-bar-section')
              ul(class='right')
                li(class='divider hide-for-small')
                li(class='has-dropdown')
                  a Main Menu
                  ul(class='dropdown')
                    li
                      a(href='consulting') Consulting
                    li
                      a(href='creative') Creative
                    li
                      a(href='advertising') Advertising

  div(class='content row')
    div(class='small-12 medium-12 large-12 column')
      h1.page-title
        | Creative
      .page-subtitle
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
      img(src='images/baloon_elephant.png').baloon-elephant
      ul.services-offered
        li.experience-strategy
          .picture
            img(src='images/creative_experience-strategy.png').experience-strategy-picture
          .row-inner
            h3.menu-title
              | Multi-Channel Design.
            .menu-content
              | In order to have a refined and smooth user experience its best to understand that each platform is different and a one size fits all approach doesnt always work.  A deep and experienced understanding of the respective platform is required to play to the strengths and remedy any weaknesses of each channel.
        li.growth-opportunities
          .picture
            img(src='images/creative_growth-opportunities.png').growth-opportunities-picture
          .row-inner
            h3.menu-title
              | Responsive Design.
            .menu-content
              | Reaching your consumers begins with accessibility.  Responsive design increases the versatility of your presence. Being able to appear along tablets, laptops, phones and everything in between lets you share your product with a larger audience.  UI to UX Inc helps create a cohesive experience across all platforms.
        li.asset-monetization
          .picture
            img(src='images/creative_asset-monitization.png').asset-monitization-picture
          .row-inner
            h3.menu-title
              | Mobile and Emerging Platforms
            .menu-content
              | UI to UX Inc has extensive experience in bringing all kinds of mobile applications to life.  We specialize  in developing and designing applications for a multitude of platforms that create a captivating experience.

      h2.what-we-do-title
        | What else we do
      .what-we-do-block
        ul
          - list = ["Business strategy", "User experience design", "Social media", "Brands & Communication", "Creative", "Search", "Data science", "Technology", "Media", "Research", "Content"]
            each item in list
              li.what-we-do-item= item
