extends ../layout

block body
  .header
    a(href="/").logo
      p!= '<span class="red-font">UI</span> <span class="gray-font">To</span> <span class="red-font">UX</span>'

    .primary-menu
      ul
        - list = ["<a href='/consulting'>Consulting</a>", "<a href='/technology'>Technology</a>", "<a href='/creative'>Creative</a>", "<a href='/advertising'>Advertising</a>", "<a href='/insights'>Data Insights</a>"]
          each item in list
            li.primary-link!= item

  .content
    .inner-content
      .content-information
        img(src="images/front_egg.png")
        .slogan
          p!= '<span class="gray-font">Data</span> <span class="red-font">driven</span> <span class="gray-font">media agency</span>'

  .footer
    .secondary-menu
      ul
        - list = ["About", "Contact"]
          each item in list
            li.primary-link= item