extends ../layout

block body
  .header
    a(href="/").logo
      div.red-font
        | UI
      div.gray-font
        | To
      div.red-font
        | UX
    .primary-menu
      ul
        - list = ["<a href='/consulting'>Consulting</a>", "<a href='/technology'>Technology</a>", "<a href='/creative'>Creative</a>", "<a href='/advertising'>Advertising</a>", "<a href='/insights'>Data Insights</a>"]
          each item in list
            li.primary-link!= item

  .content
    .inner-content
      .content-information
        img(src="images/front_egg.png")
        .slogan
          .gray-font
            | Data
          .red-font
            | driven
          .gray-font
            | media agency

  .footer
    .secondary-menu
      ul
        - list = ["About", "Contact"]
          each item in list
            li.primary-link= item